.popover
{
	font-family: 'IRANSans';
	direction: rtl;
}
.popover a
{
	color: #0292ca;
}
.popover-body
{
	font-size: 0.9rem;
}
#search_bar input
{
	direction: ltr;
	text-align: left;
}

.readMore_button
{
	direction: ltr;	
}

#mainPanel
{
	direction: ltr;
	text-align: left;
}
#footer_BR
{
	text-align: right;
}

.timeago
{
	margin-left: auto;	
}

#draftTitle
{
	margin-left: 1rem;
}
#nodeTree
{
	direction: rtl;
	text-align: right;	
}
#bottom_slideshow_part
{
	direction: ltr !important;
}
#education_article, #resources_content, #approve_rate_content, #artTags_content
{
	direction: ltr;
	text-align: left;
}
#navbarUL, #bottom_slideshow_part_mobile
{
	direction: ltr;
}
.article_header_left
{
	right: 0;
	margin-right: 2rem;
}
@media (min-width: 576px)
{
	.article_header_left
	{	
		margin-right: 3rem;
	}
}
#article_header
{
	float: left;
	margin-left: -28px;
	margin-right: 0;
	border-radius: 0 4px 4px 4px;
}
#article_header:before
{
	left: 0;
}
@media (min-width: 576px)
{
	#article_header
	{
		margin-left: -46px;
	}
}
#article_header_icon
{
	float: left ;
	text-align: left ;
	margin-left: 11px;
}
#article_header_text
{
	text-align: left;
	float: left;
	direction: ltr;
	margin-left: 10px !important;
	padding-right: 0.8rem;
}
#tree_header > span
{
	direction: ltr;
}
.Tree #chevron
{
	float: right;
}