ol
{
	list-style-type: persian;
}
.popover
{
	font-family: 'IRANSans';
}
.popover a
{
	color: #0292ca;
}
.popover-body
{
	font-size: 0.9rem;
}
#search_bar input
{
	direction: rtl;
	text-align: right;
}
.location_bar
{
	direction: rtl;
	text-align: right;
}
.gs-title, .gs-title b
{
	font-family: 'IRANSans' !important;
	
	direction: rtl !important;
	text-align: right !important;
	
	text-decoration: none !important;
}

.gs-snippet
{
	font-family: 'IRANSans' !important;
	direction: rtl !important;
	text-align: right !important;
}
.gsc-url-top, .gsc-url-bottom, .gsc-url-top div
{
	text-align: right !important;
}

// material dashboard

#materialDashboard, #materialDashboard .sidebar-wrapper
{
	font-family: 'IRANSans';
}
#materialDashboard .sidebar-wrapper p
{
	text-align: right;
}
#editProfile, .bmd-form-group, #aboutMe, #editProfileCardBody
{
	direction: rtl;
	text-align: right;
	font-family: 'IRANSans';	
}
.card [class*="card-header-"] .card-title + .card-category
{
	text-align: right;	
}
#footer_BR
{
	text-align: right;
}

div.tagsinput span.tag
{
	float: right !important;
}
div.tagsinput div
{
	float: right !important;
	direction: rtl !important;
}

#mainPanel
{
	direction: rtl;
	text-align: right;
}

.timeago
{
	margin-right: auto;	
}
#draftTitle
{
	margin-right: 1rem;
}

#bottom_slideshow_part
{
	direction: rtl !important;
}
#education_article, #resources_content, #approve_rate_content, #artTags_content
{
	direction: rtl;
	text-align: right;
}
#navbarUL, #bottom_slideshow_part_mobile
{
	direction: rtl;
}
.article_header_left
{
	left: 0;
	margin-left: 2rem;
}
@media (min-width: 576px)
{
	.article_header_left
	{	
		margin-left: 3rem;
	}
}
#article_header
{
	float: right;
	margin-right: -30px;
	margin-left: 0;
	border-radius: 4px 0 4px 4px;
}
#article_header:before
{
	right: 0;
	transform: rotatey(180deg);
}
@media (min-width: 576px)
{
	#article_header
	{
		margin-right: -46px;
	}
}
#article_header_icon
{
	float: right;
	text-align: right;
	margin-right: 11px;
}
#article_header_text
{
	text-align: right;
	float: right;
	direction: rtl;
	margin-right: 10px !important;
	padding-left: 0.8rem;
}
#article_content > pre[class*="language"]
{
	direction: ltr !important;
	text-align: left !important;
}
#tree_header > span
{
	text-align: right;
}
.Tree #chevron
{
	float: left;
}