#remSign
{
	position: relative;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: auto;
	margin-top: auto;
	right: 0;
	left: auto;
}
#dontShowLanPop
{
	// font-size: 0.9rem;
	letter-spacing: -0.4px;
}
#lanPop
{
	position: fixed;
	width: 0;
	height: 0;
	top: 25vh;
	right: 3vw;
	padding: 0;
	border: none;
}

.lanPopBottom
{
	position: fixed !important;
	max-width: none !important;
	min-height: 150px !important;
	transform: initial !important;
	will-change: initial !important;
	border: none !important;
	border-radius: 0 !important;
	top: 60vh !important;
	bottom: 0 !important;
}